@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-color: #fff;
}

.logo {
  width: 200px;
}

nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 80px;
  align-items: center;
}
nav .nav-items {
  display: flex;
}
nav .nav-items li {
  list-style: none;
  margin: 0 15px;
}
nav .nav-items li a {
  font-size: 25px;
  color: #000000;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: capitalize;
}
nav .nav-items li:hover a,
nav .social a:hover {
  color: #7f00ff;
}
nav .social a {
  font-size: 30px;
  color: #000000;
  margin: 25px 10px;
}

.wrapper {
  display: flex;
  width: 100%;
  height: calc(100vh - 80px);
  justify-content: center;
  align-items: center;
  padding: 0 10%;
  overflow: hidden;
}

.wrapper::before {
  position: absolute;
  content: "";
  height: 600px;
  width: 600px;
  border-radius: 50%;
  left: -12%;
  top: 40%;
  background: linear-gradient(45deg, #7f00ff, pink);
}

.wrapper::after {
  position: absolute;
  content: "";
  height: 200px;
  width: 200px;
  border-radius: 50%;
  left: 60%;
  top: 12%;
  background: linear-gradient(45deg, #7f00ff, pink);
}

.cols {
  width: 100%;
}

.cols0 {
  z-index: 5;
}

.topline {
  display: block;
  position: relative;
  font-size: 35px;
  letter-spacing: 5px;
  color: #000000;
}

.topline::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 60px;
  bottom: 10px;
  background-color: #7f00ff;
}

h1 {
  display: block;
  font-size: 5em;
  font-weight: 900;
  color: #000000;
}

.multitext {
  color: #7f00ff;
  text-transform: capitalize;
}

p {
  display: block;
  width: 90%;
  font-size: 1.2em;
  color: #000000;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 25px;
  font-weight: 400;
  color: #fff;
  background-color: #000000;
  padding: 8px 14px;
  margin: 40px 5px;
  letter-spacing: 2px;
  text-transform: capitalize;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
}

button:hover {
  color: #7f00ff;
}

input[type=submit] {
  font-size: 50px;
  text-transform: uppercase;
  color: #fff;
  padding: 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background: linear-gradient(45deg, #7f00ff, pink);
}

#modal-open:hover {
  background: #000000;
}

#contact-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

#modal-content {
  background: #efefef;
  margin: 35px auto;
  width: 60%;
  box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
  animation-name: modalSlideUp;
  animation-duration: 1s;
}

#modal-header {
  background: #000000;
  color: #fff;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 5px;
}

#modal-header .close-modal {
  font-size: 50px;
  float: right;
}

#modal-header .close-modal:hover {
  color: #7f00ff;
  cursor: pointer;
  transition: color 0.3s ease;
  transition-delay: 0.2s;
}

#modal-footer {
  background: #000000;
  color: #fff;
  padding: 15px 15px;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 3px;
}

#modal-body {
  padding: 25px 30px;
}
#modal-body h3 {
  color: #000000;
  text-transform: uppercase;
  font-size: 35px;
  text-align: center;
}

.form-group {
  width: 75%;
  margin: 20px 0;
  margin-left: 12.5%;
}
.form-group label {
  margin-bottom: 10px;
  font-size: 18px;
}
.form-group input,
.form-group textarea {
  width: 100%;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  padding: 0 10px;
}

input[type=submit] {
  font-size: 15px;
  width: 75%;
  margin-left: 12.5%;
  font-weight: bolder;
}

input[type=submit]:hover {
  color: #000000;
  cursor: pointer;
  transition: color 0.3s ease;
  transition-delay: 0.2s;
}

@keyframes modalSlideUp {
  0% {
    transform: translateY(1500px);
  }
  100% {
    transform: translateY(0);
  }
}
.project-container {
  display: flex;
  flex-wrap: wrap;
}

.project {
  flex: 0 0 50%;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 40px;
  justify-content: center;
  gap: 20px;
}

.project img {
  max-width: 250px;
  height: auto;
  margin-left: 10px;
  margin-right: 20px;
}

.project-info {
  margin-left: 20px;
}
.project-info a {
  text-decoration: none;
  color: #000000;
}
.project-info h2 {
  text-align: center;
}
.project-info a:hover {
  color: #7f00ff;
}
.project-info p {
  margin: 20px;
}

footer {
  padding: 20px;
}
footer p {
  margin-left: 60px;
  text-align: center;
}
footer a:hover {
  color: #7f00ff;
}
footer a {
  text-decoration: none;
  color: #000000;
}

.flex-container {
  padding-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 85%;
  margin: 0 auto;
}

.text-container {
  padding-top: 20px;
  padding-right: 20px;
}

.image-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.image-container img {
  width: 375px;
  height: 275px;
  margin-left: 10px;
}/*# sourceMappingURL=styles.css.map */